body {
    display: flex;
    flex-direction: column;
    background-color: #4A7766;
    color: #ECE7E2;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}


article {
    flex: 2;
    color: #ECE7E2;
}


aside {
    flex: 1;
    background-color: #ECE7E2;
}
